#include "Resource.h"
#include <windows.h>
MYICO_BIG	ICON	"icon_big.ico"
MYICO_SMALL	ICON	"icon_small.ico"

ID_IB_WINDOW DIALOG 200, 100, 200, 100

STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
BEGIN
    CTEXT	""	ID_IB_DISPLAYTEXT,	100-50,		10,	100,	28
	EDITTEXT    ID_IB_EDITTEXT,		100-80,		40,	160,	14
	DEFPUSHBUTTON   "OK", IDOK,		100-25,		70, 50,		14
END